# Virtual environments
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Data & models
data/raw/
data/processed/
models/checkpoints/
logs/
data/

# OS / IDE
.DS_Store
.idea/
.vscode/

# Secrets
.env